* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "museo-sans", Helvetica, sans-serif;
}

header nav {
    background-color: #f1a536;
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header nav img {
    width: 200px; /* edit for responsiveness */
    height: auto;
}

header nav ul {
    display: flex;
    gap: 20px;
}

header nav ul li {
    list-style-type: none;
    font-size: 1.1em;
}

header nav ul li a {
    text-decoration: none;
    color: #222;
}

.hero {
    width: 100%;
    height: 100vh;
    background-image: url(../images/hero-image.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

/* Change the font for this later (to something that's softer when bolder) */
.overlaying-text {
    background-color: whitesmoke;
    padding: 0.5em;
    font-family: "museo-sans-display";
    font-weight: 800;
    font-size: 2em;
    transform: translate(0, -4em);
}

.everyday-container {
    margin: 2.5% 7%;
}

.everyday-header {
    font-family: "museo-sans-display";
    font-size: 2em;
    margin-bottom: 1%;
}

.everyday-caption {
    font-size: 1.3em;
}

/* rename classes later for better readability */
.track {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    flex-wrap: wrap;
}

.track-images {
    display: flex;
    flex-direction: column;
}

.everyday-image {
    height: 15em;
    width: 25em;
    object-fit: cover;
}

.track-images p {
    text-align: center;
    font-size: 1.1em;
    margin: 5% 0;
}