* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "museo-sans", Helvetica, sans-serif;
    /* outline: 2px solid red; */
}

header nav {
    background-color: #f1a536;
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header nav img {
    width: 200px; /* edit for responsiveness */
    height: auto;
}

header nav ul {
    display: flex;
    gap: 20px;
}

header nav ul li {
    list-style-type: none;
    font-size: 1.1em;
}

header nav ul li a {
    text-decoration: none;
    color: #222;
}

.hero {
    width: 100%;
    height: 100vh;
    background-image: url(../images/hero-image.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

/* Change the font for this later (to something that's softer when bolder) */
.overlaying-text {
    border-radius: 4px;
    background-color: whitesmoke;
    padding: 0.5em;
    font-family: "museo-sans-display";
    font-weight: 800;
    font-size: 2em;
    transform: translate(0, -4em);
}

/* 
d












d



d

d

*/
.everyday-container {
    margin: 2.5% 7%;
}

.everyday-header {
    font-family: "museo-sans-display";
    font-size: 2em;
    margin-bottom: 1%;
}

.everyday-caption {
    font-size: 1.3em;
}

/* rename classes later for better readability */
/* even better, use element selectors if possible  */
.everyday-track {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    flex-wrap: wrap;
}

.everyday-track-images {
    display: flex;
    flex-direction: column;
}

.everyday-image {
    border-radius: 4px;
    height: 15em;
    width: 25em;
    object-fit: cover;
}

.everyday-track-images p {
    text-align: center;
    font-size: 1.1em;
    margin: 5% 0;
}

.healthy-recipes {
    background-color: #DADFEA;
    padding-top: .01%;
    padding-bottom: 2%;
}

.healthy-container {
    margin: 2.5% 7%;
}

.healthy-header {
    font-family: "museo-sans-display";
    font-size: 2em;
    margin-bottom: 1%;
}

.healthy-caption {
    font-size: 1.3em;
}

.healthy-track {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5%;
    flex-wrap: wrap;
}

.healthy-track-images {
    display: flex;
    flex-direction: column;
}

.healthy-image {
    border-radius: 4px 4px 0 0;
    height: 15em;
    width: 20em;
    object-fit: cover;
}

.healthy-track-images p {
    border-radius: 0 0 4px 4px;
    padding: 5%;
    background-color: #fff;
    text-align: center;
    font-size: 1.1em;
}

.where-container {
    margin: 2.5% 7%;
}

.where-header {
    font-family: "museo-sans-display";
    font-size: 2em;
    margin-bottom: 1%;
}

.where-caption {
    font-size: 1.3em;
}

.where-track {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    flex-wrap: wrap;
}

.where-track-images {
    display: flex;
    flex-direction: column;
}

.where-image {
    border-radius: 4px;
    height: 15em;
    width: 25em;
    object-fit: cover;
}

.where-track-images p {
    text-align: center;
    font-size: 1.1em;
    margin: 5% 0;
}